#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/outputs.h>



#define DEFAULT 0
#define NAVI    1


/{
    
    combos {
       compatible = "zmk,combos";
       combo_shift {
           timeout-ms = <50>;
           key-positions = < 8 9>;
           bindings = <&kp RSHIFT>;
       };
       combo_ctrl {
           timeout-ms = <50>;
           key-positions = < 10 11>;
           bindings = <&kp COLON>;
       };
       combo_amps {
           timeout-ms = <50>;
           key-positions = < 0 1 >;
           bindings = <&kp AMPS >;
       };
       combo_astrk {
           timeout-ms = <50>;
           key-positions = < 5 6 >;
           bindings = <&kp ASTRK >;
       };
       left_brack {
           timeout-ms = <50>;
           key-positions = < 1 2>;
           bindings = <&kp LBKT>;
       };
       right_brack {
           timeout-ms = <50>;
           key-positions = < 2 3>;
           bindings = <&kp RBKT>;
       };
       left_paren {
           timeout-ms = <50>;
           key-positions = < 6 7>;
           bindings = <&kp KP_LPAR>;
       };
       right_paren {
           timeout-ms = <50>;
           key-positions = < 7 8>;
           bindings = <&kp KP_RPAR>;
       };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
                &kp Y       &kp U       &kp I       &kp O       &kp P          
                &kp H       &kp J       &kp K       &kp L       &kp SEMI         
                &kp N       &kp M       &kp COMMA   &kp DOT     &kp QMARK         
                                        &kp SPACE   &kp NAVI    &kp BSPC   
            >;
        };

        nav_layer {
            bindings = <
                &kp N7          &kp N8      &kp N9     &kp MINUS    &kp HOME   
                &kp N4          &kp N5      &kp N6     &kp PLUS     &kp END   
                &kp N1          &kp N2      &kp N3     &kp PERIOD   &none   
                                            &none      &kp NAVI     &trans    
            >;
        };
    };
};

