if SHIELD_CLICK_LEFT

config ZMK_KEYBOARD_NAME
    default "ClickyClacky"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if SHIELD_CLICK_LEFT || SHIELD_CLICK_RIGHT

config ZMK_SPLIT_BLE
    default y

endif